<h2>Instrumental Commissions</h2>
<p>
	Hello! Thanks for checking my commissions page.<br>
	Please check my <a href="http://www.youtube.com/farpras">YouTube</a> channel for samples.
</p>
<p>
	Commissions includes:<br>
	<ul>
		<li>
			Unmastered
		</li>
		<li>
			Mastered
		</li>
		<li>
			Click Track
		</li>
	</ul>
	* All in uncompressed .WAV
</p>
<h3>Rates:</h3>
<p>
	<b>TV Size</b><br>
	<i>Length:</i> < 2 mins<br>
	<i>Base price:</i> $40<br>
	<i>Due:</i> 1 week
</p>
<p>
	<b>Full Version</b><br>
	<i>Length:</i> > 2 mins & < 4 mins<br>
	<i>Base price:</i> $65<br>
	<i>Due:</i> ~ 2 weeks
</p>
<p>
	<b>Extra</b><br>
	<i>Length:</i> > 4 mins<br>
	<i>Base price:</i> $65 + $10/min<br>
	<i>Due:</i> Depends on track difficulty/length
</p>
<h3>Additional:</h3>
<p>
	- Stems*: + $10<br>
	- Project Files (REAPER 5 .RPP)**: + $20
</p>
<p>
	<b>- Stems</b> are multi-track render of each instrument of the project. Useful if you want to mix the instrumental yourself or by your mixing engineer.<br>
	<b>- Project File</b> is in .RPP format produced using REAPER 5 (<a href="http://reaper.fm/">http://reaper.fm/</a>) and may use additional 3rd party plugins. All tracks are frozen so you can playback & listen the project without any problems and you can unfreeze every track if needed. Please make sure you have all the required plugins installed before unfreezing. Plugin list will be included as well.
</p>
<h3>Payment:</h3>
<p>
	Prices are in USD and I can only accept PayPal. I will start working on the track after the 50% of the payment has been done. And the other 50% after the track is finished.
</p>
<p>
	Please contact/DM if you’re interested or have any question :) <br>
	Email: <a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a><br>
	Twitter: <a href="https://twitter.com/farpras">https://twitter.com/farpras</a>
</p>
<h3>Policy:</h3>
<p>
	You can use the instrumental commission for anything commercial or non-commercial along with your cover or as a BGM or any creative works. But, please note that I retain all the rights to any music that I arranged/produced as a commission. So redistributing the instrumental track only (as it is) is prohibited, unless other terms are agreed upon.
</p>

<hr />

<ul class="fa-ul main-list">
	<li class="main-list-item">
		<span class="fa fa-at fa-lg main-list-item-icon"></span>
		<a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-twitter fa-lg main-list-item-icon"></span>
		<a href="https://twitter.com/farpras">@farpras</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-youtube fa-lg main-list-item-icon"></span>
		<a href="https://www.youtube.com/farpras">YouTube</a>
	</li>
</ul>
