<h2>Instrumental Commissions</h2>
<p>
	Hello! Thanks for checking my commissions page.<br>
	Please check my <a href="http://www.youtube.com/farpras">YouTube</a> channel for samples.
</p>
<p>
	Commissions includes (All in uncompressed .WAV):<br>
	<ul>
		<li>
			Unmastered
		</li>
		<li>
			Mastered
		</li>
		<li>
			Click Track
		</li>
	</ul>
</p>
<table>
	<tr>
		<th>Type</th>
		<th>Length</th>
		<th>Base Price</th>
		<th>Due</th>
	</tr>
	<tr>
		<td>TV Size</td>
		<td>< 2 mins</td>
		<td>$40</td>
		<td>1 week</td>
	</tr>
	<tr>
		<td>Full Version</td>
		<td>> 2 mins & < 4 mins</td>
		<td>$65</td>
		<td>~ 2 weeks</td>
	</tr>
	<tr>
		<td>Extra</td>
		<td>> 4 mins</td>
		<td>$65 + $10/min</td>
		<td>Depends on track difficulty/length</td>
	</tr>
</table>
<h3>Additional:</h3>
<p>
	<ul>
		<li>Stems*: + $10</li>
		<li>Project Files (REAPER 5 .RPP)**: + $20</li>
	</ul>
</p>
<p>
	<ul>
		<li>
			<b>Stems</b> are multi-track render of each instrument of the project. Useful if you want to mix the instrumental yourself or by your mixing engineer.
		</li>
		<li>
			<b>Project File</b> is in .RPP format produced using REAPER 5 (<a href="http://reaper.fm/">http://reaper.fm/</a>) and may use additional 3rd party plugins. All tracks are frozen so you can playback & listen the project without any problems and you can unfreeze every track if needed. Please make sure you have all the required plugins installed before unfreezing. Plugin list will be included as well.
		</li>
	</ul>
</p>
<h3>Payment:</h3>
<p>
	I can only accept PayPal for payment method.
</p>
<p>
	Please contact/DM if you’re interested or have any question :) <br>
	Email: <a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a><br>
	Twitter: <a href="https://twitter.com/farpras">https://twitter.com/farpras</a>
</p>
<h3>Policy:</h3>
<p>
	You can use the instrumental commission for anything commercial or non-commercial along with your cover or as a BGM or any creative works. But, please note that I retain all the rights to any music that I arranged/produced as a commission. So redistributing the instrumental track only (as it is) is prohibited, unless other terms are agreed upon.
</p>
<!-- <h2>Features</h2>
<ul>
	<li>Responsive design</li>
	<li>Mobile friendly</li>
	<li>
		Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a>
	</li>
</ul> -->

<!-- <p>
	This page is hosted & open sourced at
	<a href="https://github.com/farpras28/farpras28.github.io">GitHub</a>.
</p> -->

<hr />

<ul class="fa-ul main-list">
	<li class="main-list-item">
		<span class="fa fa-at fa-lg main-list-item-icon"></span>
		<a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-twitter fa-lg main-list-item-icon"></span>
		<a href="https://twitter.com/farpras">@farpras</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-youtube fa-lg main-list-item-icon"></span>
		<a href="https://www.youtube.com/farpras">YouTube</a>
	</li>
</ul>
