<h2>About</h2>
<p>
	Still working on it.
</p>

<!-- <h2>Features</h2>
<ul>
	<li>Responsive design</li>
	<li>Mobile friendly</li>
	<li>
		Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a>
	</li>
</ul> -->

<p>
	This page is hosted & open sourced at
	<a href="https://github.com/farpras28/farpras28.github.io">GitHub</a>.
</p>

<hr />

<ul class="fa-ul main-list">
	<li class="main-list-item">
		<span class="fa fa-music fa-lg main-list-item-icon"></span>
		<a href="http://farpras.my.id/commission">Commissions</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-at fa-lg main-list-item-icon"></span>
		<a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-twitter fa-lg main-list-item-icon"></span>
		<a href="https://twitter.com/farpras">@farpras</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-youtube fa-lg main-list-item-icon"></span>
		<a href="https://www.youtube.com/farpras">YouTube</a>
	</li>
</ul>
