<link rel="apple-touch-icon-precomposed" sizes="100x100" href="/images/farpras100px.png" />
<link rel="icon" type="image/png" href="/images/farpras100px.png" sizes="100x100" />
<meta name="application-name" content="farpras.id"/>
<!-- <meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="/images/favicons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="/images/favicons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="/images/favicons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="/images/favicons/mstile-310x310.png" /> -->
