<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__links">

      <a href="{{ site.baseurl }}/about">About</a>
      <a href="mailto:{{ site.email }}">Email</a>

      <div class="site-footer__social">
        <!-- <a href="http://www.twitter.com/{{ site.twitter_username }}" target="_blank">
          {% include svg/twitter.svg %}
        </a>
        <a href="http://www.facebook.com/{{ site.facebook_username }}" target="_blank">
          {% include svg/facebook.svg %}
        </a> -->
        <a href="http://github.com/{{ site.github_username }}" target="_blank">
          {% include svg/github.svg %}
        </a>
      </div>
    </div>

    <div class="site-footer__copyright">
      <footer class="footer-main">
        farpras &copy; 2017
        <p class="extra">
            Made with <i class="fa fa-heart" style="color:#d50000;"></i>+<i class="fa fa-coffee" style="color:#0097a7;"></i> in Indonesia.
        </p>
    </footer>
    </div>
  </div>
</footer>
