<h2>Music</h2>
<ul class="fa-ul main-list">
	<li class="main-list-item">Test 1</li>
	<li class="main-list-item">Test 2</li>
</ul>
<hr />

<ul class="fa-ul main-list">
	<li class="main-list-item">
		<span class="fa fa-at fa-lg main-list-item-icon"></span>
		<a href="mailto:farpras28@outlook.com">farpras28@outlook.com</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-twitter fa-lg main-list-item-icon"></span>
		<a href="https://twitter.com/farpras">@farpras</a>
	</li>
	<li class="main-list-item">
		<span class="fa fa-youtube fa-lg main-list-item-icon"></span>
		<a href="https://www.youtube.com/farpras">YouTube</a>
	</li>
</ul>
