<header>
	<h1>farpras.my.id</h1>
	<p>
		<script src="https://raw.githubusercontent.com/farpras28/farpras28.github.io/master/assets/js/quotes.js"></script>
	</p>
	<blockquote>
		<p class="view">
			<a href="https://github.com/farpras28/farpras28.github.io"
				>View source on GitHub <small>farpras28/farpras28.github.io</small></a
			>
		</p>
	</blockquote>
	<ul>
		<li>
			<a href="index.html">ホーム <strong>Home</strong></a>
		</li>
		<li>
			<a href="music.html">ミュージック <strong>Music</strong></a>
		</li>
		<li>
			<a href="commissions.html">コンミッション <strong>Commissions</strong></a>
		</li>
		<!-- <li>
			<a href="http://twitter.com/farpras"
				>Follow On <strong>Twitter</strong></a
			>
		</li> -->
	</ul>
</header>
